<%= render 'header' %>

<% if @users.present? %>
  <div class="card fixed-custom-card">
    <div class="card-header position-relative">
      <%= form_for_filterrific @filterrific do |f| %>

          <div class="row d-flex justify-content-between">
            <div class="col-4">
              <label>Dni</label>
              <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
              <%= f.text_field(
                :search_username,
                class: 'filterrific-periodically-observed form-control',
                placeholder: 'DNI',
                autocomplete: 'off',
              ) %>
            </div>
            <div class="col-4">
              <label>Nombre</label>
              <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
              <%= f.text_field(
                :search_by_fullname,
                class: 'filterrific-periodically-observed form-control',
                placeholder: 'Nombre o apellido',
                autocomplete: 'off',
              ) %>
            </div>
            <div class="col text-right mr-4">
              <%= link_to users_admin_index_path(reset: true), class: 'btn btn-secondary position-absolute',
                title: 'Reiniciar filtro', data: { toggle: 'tooltip', placement: 'top' } do %>
                <%= fa_icon 'redo' %>
              <% end %>
            </div>
          </div>
          <%= render_filterrific_spinner %>
      <% end %>
    </div>
    <div class="card-body fixed-panel-index">
      <%= render(
        partial: 'users/list',
        locals: { users: @users }
      ) %>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found',
    locals: { object_name: 'usuarios' }
  ) %>
<% end %>

