<!--  Panel graficos de prescripciones -->
<% if @epidemic_sheets.count > 0 %>
  <div class="d-flex justify-content-around">
    <div class="text-center border border-danger p-2 rounded mb-0">
      <p class="mb-0"><strong>CASOS ACTIVOS</strong></p>
      <span class="h4 counter"><%= @total_positives %></span>
    </div>
    <div class="text-center border border-success p-2 rounded">
      <p class="mb-0"><strong>TOTAL RECUPERADOS</strong></p>
      <span class="h4 counter"><%= @total_recovered %></span>
    </div>
    <div class="text-center border border-danger p-2 rounded">
      <p class="mb-0"><strong>NUEVOS POSITIVOS</strong></p>
      <span class="h4 counter"><%= @total_new_positives %></span>
    </div>
  </div>
  
  <div class="d-flex justify-content-around">
    <div class="text-center border border-success p-2 rounded">
      <p class="mb-0"><strong>NUEVOS RECUPERADOS</strong></p>
      <span class="h4 counter"><%= @total_new_recovered %></span>
    </div>
    <div class="text-center border border-info p-2 rounded">
      <p class="mb-0"><strong>NUEVOS NEGATIVOS</strong></p>
      <span class="h4 counter"><%= @total_new_negatives %></span>
    </div>
    <div class="text-center border border-warning p-2 rounded">
      <p class="mb-0"><strong>CONTACTOS ESTRECHOS</strong></p>
      <span class="h4 counter"><%= @total_close_contacts %></span>
    </div>
  </div>

  <div class="d-flex justify-content-around">

  </div>

  <div class="d-flex justify-content-around">
    <div class="text-center border border-info p-2 rounded mb-0">
      <p class="mb-0"><strong>INTERNADOS</strong></p>
      <span class="h4 counter"><%= @total_hospitalized %></span>
    </div>
    <div class="text-center border border-dark p-2 rounded mb-0">
      <p class="mb-0"><strong>FALLECIDOS</strong></p>
      <span class="h4 counter"><%= @total_historical_deaths %></span>
    </div>
  </div>

  <%= line_chart @case_count_per_day
    .where(case_status: [CaseStatus.find_by_name("Positivo (primoinfección)").id, CaseStatus.find_by_name("Positivo (reinfección)").id])
    .group_by_day(:created_at,
    range: 2.weeks.ago.midnight..Date.today,
    format: "%a %d/%m").sum(:count), 
    discrete: true, 
    label: 'Cantidad', 
    colors: ["rgb(217, 83, 79, 1)"],
    adapter: "highcharts",
    title: 'Evolución de casos activos en los últimos 14 días' %>

  <%= column_chart charts_by_month_epidemic_sheets_path,
    title: "Fichas cargadas por mes en el año "+Date.today.strftime("%Y"),
    label: "Cantidad",
    colors: ["rgb(0,64,121, 1)"],
    messages: {empty: "No hay fichas en este año"},
    adapter: "highcharts" %>

  <%
    case_statuses = @epidemic_sheets.joins(case_definition: :case_status).group("case_statuses.name").count #.map { |k, v| [CaseStatus..key(k).humanize, v] }
    status_colors = case_status_colors()
    colors = []
    case_statuses.each do |status, _|
      colors << status_colors[status]
    end
  %>
  
  <%= pie_chart case_statuses, 
    colors: colors, 
    label: 'Cantidad de casos', 
    adapter: "highcharts",
    title: "Cantidad de casos por estado" %>

  <div class="card">
    <table class="table table-hover table-striped table-sm">
    <div class="h5 p-2">Últimas fichas cargadas</div>
      <thead>
        <tr>
          <th>Paciente</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @last_epidemic_sheets.each do |sheet|%>
          <tr>
            <td><%= sheet.patient.fullname %></td>
            <td>
              <span class="badge badge-<%= sheet.case_definition_case_status_badge %>">
                <%= sheet.case_definition_case_status_name.humanize %>
              </span>
            </td>
            <td>
              <% if policy(sheet).show? %>
                <%= link_to epidemic_sheet_path(sheet), class: 'btn btn-secondary btn-sm', 
                  title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
                  <%= fa_icon 'eye' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>