<!--  Panel graficos de prescripciones -->
<% if @epidemic_sheets.count > 0 %>
  <%= line_chart @epidemic_sheets
    .group_by_day(:init_symptom_date, 
    range: 1.weeks.ago.midnight..Time.now, 
    format: "%a %d/%m").count, 
    discrete: true, 
    label: 'Cantidad', 
    colors: ["rgb(199,149,109, 1)"], 
    adapter: "highcharts",
    title: 'Casos positivos última semana' %>

  <%= column_chart charts_by_month_epidemic_sheets_path,
    title: "Fichas epidemiológicas cargadas por mes",
    label: "Cantidad",
    colors: ["rgb(150,93,98, 1)"],
    messages: {empty: "No hay fichas en este año"},
    adapter: "highcharts" %>

  <%
    case_statuses = @epidemic_sheets.joins(case_definition: :case_status).group("case_statuses.name").count #.map { |k, v| [CaseStatus..key(k).humanize, v] }
    status_colors = case_status_colors()
    colors = []
    case_statuses.each do |status, _|
      colors << status_colors[status]
    end
  %>
  <%= pie_chart case_statuses, colors: colors, label: 'Cantidad de casos', adapter: "highcharts" %>
  
  <%= line_chart @epidemic_sheets.joins(:case_definition).where("case_definitions.case_status_id = 3")
    .group_by_week(:init_symptom_date, range: 12.months.ago.midnight..Time.now, 
    format: "%d/%m/%y").count,
    discrete: true,
    colors: ["rgb(170,58,58, 1)"],
    label: 'Cantidad',
    title: "Últimos 12 meses",
    adapter: "highcharts" %>

  <div class="card">
    <table class="table table-hover table-striped table-sm">
    <div class="h5 p-2">Últimas fichas cargadas</div>
      <thead>
        <tr>
          <th>Paciente</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @last_epidemic_sheets.each do |sheet|%>
          <tr>
            <td><%= sheet.patient.fullname %></td>
            <td>
              <span class="badge badge-<%= sheet.case_definition_case_status_badge %>">
                <%= sheet.case_definition_case_status_name.humanize %>
              </span>
            </td>
            <td>
              <% if policy(sheet).show? %>
                <%= link_to epidemic_sheet_path(sheet), class: 'btn btn-secondary btn-sm', 
                  title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
                  <%= fa_icon 'eye' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>