<h5 class="border-bottom">Comorbilidades</h5>
<div class="row">
  <div class="col-4">
    <div class="custom-control custom-switch">
      <%= f.check_box :present_previous_symptoms, class: "custom-control-input", id: "present-prev-symp"   %>
      <label class="custom-control-label" for="present-prev-symp">Presenta comorbilidades </label>
    </div>
  </div>
  <div class="col-4 fade options-fields <%= f.object.present_previous_symptoms.present? ? 'show' : ''%>">
    <%# Sintomas previos %>
    <%= f.input :previous_symptom_ids, label: 'Comorbilidades',
      collection: @previous_symptoms,
      :input_html => {
        multiple: true,
        required: true,
        include_blank: false,
        class: 'selectpicker-md custom-select-pick show-tick',
        "data-width"=>"100%",
        "data-size"=>"10",
        "title"=>"Seleccionar comorbilidades",
        "data-live-search"=>true,
        "data-none-results-text" => "No se encontró el síntoma previo"
      }
    %>
  </div>
  <div class="col-4 fade options-fields <%= f.object.present_previous_symptoms.present? ? 'show' : ''%>">
    <%= f.input :prev_symptoms_observations, 
    label: 'Observaciones', 
    :input_html => {
      class: 'observations-field' 
    } %>
  </div>
</div>