<tr class="nested-fields close-contact-form">
  <td>
    <div class="form-group fake required epidemic_sheet_patient_fake">
      <input type="text" 
      name="patient_fullname_fake"
      class="close-patient-fullname-fake form-control fake required <%= "#{f.object.errors[:full_name].any? ? 'is-invalid' : ''}"%>" 
      data-autocomplete-source="<%= get_close_contact_by_fullname_patients_path %>" 
      required 
      aria-required="true"
      value="<%= f.object.full_name.present? ? f.object.full_name : '' %>">
    </div>
    <%#= seteamos el valor de patient fullname si encontramos al paciente %>
    <%= f.input :full_name, 
    as: :hidden, 
    input_html: { 
      class: "close-patient-fullname", 
      value: f.object.full_name.present? ? f.object.full_name : '' 
    }  %>

    <%#= seteamos el valor de patient _id si encontramos al paciente %>
    <%= f.input :contact_id, as: :hidden, input_html: { class: "close-contact-id"}  %>
  </td>
  <td>
    <input type="text" 
      name="close_patient_dni_fake"
      class="close-patient-dni-fake form-control fake" 
      data-autocomplete-source="<%= get_close_contact_by_dni_patients_path %>" 
      required 
      aria-required="true"
      value="<%= f.object.dni.present? ? f.object.dni : '' %>">
    
    <%= f.input :dni, 
    as: :hidden, 
    input_html: { 
      class: "close-patient-dni", 
      value: f.object.dni.present? ? f.object.dni : '' 
    }  %>

  </td>
  <td>
    <%= f.input :phone, label: false, input_html: { class: "close-patient-phone" } %>
  </td>
  <td>
    <%= f.input :address, label: false, input_html: { class: "close-patient-address"} %>
  </td>
  <td>
    <%= f.input :last_contact_date, as: :string, html5: true, required: true,
      label: false,
      :input_html => {
        required: true,
        class: "form-control last-contact-date",
        autocomplete: "off",
        value: "#{f.object.last_contact_date.present? ? f.object.last_contact_date.strftime("%d/%m/%Y") : ''}"
      }
    %>
  </td>
  <td>
    <%= f.input :contact_type_id, label: false, include_blank: false,
      collection: ContactType.all.map { |ct| [ct.name, ct.id] },
      :value_method => :second,
      :input_html => {
        title: 'Tipo de contacto',
        required: true,
        include_blank: false,
        class: 'selectpicker custom-select-pick',
        "data-width"=>"100%",
        "data-size"=>"10",
        value: "#{ f.object.contact_type_id }"
      }
    %>
  </td>
  <td>
    <% unless f.object.full_name.present? %>
      <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning',
        title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "minus" %>
      <% end %>
    <% end %>
  </td>
</tr>
