<tr id="epidemic_sheet_<%= epidemic_sheet.id %>">
  <div class="js-fade fade-in is-paused">
    <td>
      <%= epidemic_sheet.patient_dni %>, 
      <strong><%= epidemic_sheet.patient_last_name %></strong> <%= epidemic_sheet.patient_first_name %>
    </td>
    <td><%= epidemic_sheet.patient_age_string %></td>
    <td>
      <span class="badge badge-<%= epidemic_sheet.case_definition_case_status_badge %>">
        <%= epidemic_sheet.case_definition_case_status_name.humanize %>
      </span>
    </td>
    <td>
      <%= epidemic_sheet.init_symptom_date.strftime("%d/%m/%Y") %>
    </td>
    <td class="text-truncate" style="max-width: 120px;">
      <%= epidemic_sheet.patient_assigned_establishment.name %>
    </td>
    <td class="text-truncate" style="max-width: 120px;">
      
      <% if policy(epidemic_sheet).set_in_sisa_modal? %>
        <%= link_to set_in_sisa_modal_epidemic_sheet_path(epidemic_sheet), remote: true do %>
          <%= fa_icon 'times' %>
        <% end %>
      <% else %>
        <%= fa_icon epidemic_sheet.is_in_sisa ? 'check' : 'times' %>
      <% end %>

    </td>
    <td class="text-left actions-col">
      <% if policy(epidemic_sheet).show? %>
        <%= link_to epidemic_sheet_path(epidemic_sheet), class: 'btn btn-secondary btn-sm',
              title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "eye" %>
        <% end %>
      <% end %>
      <% if policy(epidemic_sheet).edit? %>
        <%= link_to edit_epidemic_sheet_path(epidemic_sheet), class: 'btn btn-warning btn-sm',
              title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "edit" %>
        <% end %>
      <% end %>
      <% if policy(epidemic_sheet).destroy? %>
        <%= link_to delete_epidemic_sheet_path(epidemic_sheet), remote: true,
              class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "trash" %>
        <% end %>
      <% end %>
    </td>
  </div>
</tr>
