<div id="patient-form-fields" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1">
  <%# <h5 class="border-bottom">Paciente</h5> %>
  <%= form_builder.simple_fields_for :patient, html: { role: 'check-modified' } do |patient_form| %>
    <div class="row andes-fields d-none">
      <div class="col-4">
        <%# Apellido %>
        <%= patient_form.input :last_name, 
          as: :string, 
          class: 'form-control',
          label: 'Apellido',
          placeholder: 'Apellido',
          required: true,
          :input_html => {
            id: "patient-form-lastname"
          }
        %>
      </div>

      <div class="col-4">  
        <%# Nombre %>
        <%= patient_form.input :first_name, 
          as: :string, 
          class: 'form-control',
          label: 'Nombre',
          placeholder: 'Nombre',
          required: true,
          :input_html => {
            id: "patient-form-firstname",
          }
        %>
      </div>
      <div class="col-4">
        <%# DNI %>
        <%= patient_form.input :dni, 
          as: :integer, 
          class: 'form-control',
          label: 'DNI',
          placeholder: 'DNI',
          required: true,
          :input_html => {
            id: "patient-form-dni"
          }
        %>
      </div>
    </div>

    <div class="row andes-fields d-none">
      <div class="col-6 sex-indicator">
        <%# Sexo %>
        <%= patient_form.label "Sexo", class: "w-100" %>
        <div class="d-none hidden-input-container"> 
          <%= patient_form.input :sex_fake, 
            as: :fake, 
            label: false, 
            :input_html => {
              readOnly: true, 
              class: "input-sm"
            }
          %>
        </div>

        <%= patient_form.input :sex, label: false,
          collection: Patient.sexes,
          :value_method => :first,
          required: true,
          :input_html => {
            required: true,
            id: "patient-form-sex",
            class: 'selectpicker supply custom-select-pick',
            "data-width"=>"100%",
            "data-size"=>"10"
          }
        %>
      </div>
      <div class="col-6">
        <%# Fecha nacimiento %>
        <%= patient_form.input :birthdate, 
          as: :string, 
          class: 'form-control',
          label: 'Fecha nacimiento',
          placeholder: 'Fecha nacimiento',
          required: true,
          :input_html => {
            id: "patient-form-birthdate",
            autocomplete: "off",
          }
        %>
      </div>

    </div>

    <%# Telefonos del paciente %>
    <%= patient_form.label :patient_phone do %>
      Teléfonos

      <%= link_to_add_association patient_form, :patient_phones, class: 'btn btn-primary btn-sm', id: "add-phone",
        data: {"association-insertion-node" => "tbody.patient_phones", "association-insertion-method" => "append"} do %>
        <%= fa_icon "plus" %>
      <% end %>

    <% end %>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Número</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="patient_phones" id="patient-form-phones">
        <%= patient_form.simple_fields_for :patient_phones do | form_phones | %>
          <%= render "patient_phone_fields", :f => form_phones %>
        <% end %>
      </tbody>
    </table>

    <div class="row">
      <div class="col-6">
        <%= patient_form.input :occupation_id, label: 'Ocupación', include_blank: false,
          collection: @occupations.map { |occupation| [occupation.name.humanize, occupation.id] },
          :input_html => {
            required: true,
            include_blank: true,
            title: "Sin informar",
            class: 'selectpicker custom-select-pick',
            "data-width"=>"100%",
            "data-size"=>"10",
            value: "#{ patient_form.object.occupation.present? ? patient_form.object.occupation : "" }"
          }
        %>
      </div>
      <div class="col-6">
        <%= patient_form.input :assigned_establishment_id, label: 'Establecimiento designado',
          collection: @establishments.map {|establishment|  [establishment.name, establishment.id ]},
          selected: current_user.establishment.id,
          :input_html => {
            required: true,
            include_blank: false,
            class: 'selectpicker custom-select-pick',
            "data-width"=>"100%",
            "data-size"=>"10",
            "title"=>"Seleccionar establecimiento",
            "data-live-search"=> true,            
          }
        %>
      </div>
    </div>

    <%# Direccion Andes %>
    <%= patient_form.simple_fields_for :address do |patient_address| %>
      <%= patient_address.hidden_field :country, id: "patient-address-country" %>
      <%= patient_address.hidden_field :state, id: "patient-address-state" %>
      <%= patient_address.hidden_field :city, id: "patient-address-city" %>

      <%= patient_address.hidden_field :line, id: "patient-address-line" %>
      <%= patient_address.hidden_field :latitude, as: :integer, id: "patient-address-latitude" %>
      <%= patient_address.hidden_field :longitude, as: :integer, id: "patient-address-longitude" %>
      <%= patient_address.hidden_field :postal_code, id: "patient-address-postal-code" %>
      <%= patient_form.hidden_field :status, id: "patient-status-code" %>
    <%end%>
    
    <%# Direccion Actual %>
    <h5 class="border-bottom">Domicilio actual</h5>
    <%= patient_form.simple_fields_for :current_address do |patient_current_address| %>
     
      <div class="row">
        <div class="col-5">
          <%= patient_current_address.input :neighborhood, 
            as: :string, 
            class: 'form-control',
            label: 'Barrio',
            placeholder: 'Barrio',
            required: false
          %>
        </div>
        <div class="col-5">
          <%= patient_current_address.input :street, 
            as: :string, 
            class: 'form-control',
            label: 'Calle',
            placeholder: 'Calle',
            required: false
          %>
        </div>

        <div class="col-2">
          <%= patient_current_address.input :street_number, 
            as: :string, 
            class: 'form-control',
            label: 'N°',
            placeholder: 'N°',
            required: false
          %>
        </div>
      </div>
    
    <%end%>
  <% end %>
</div>