<% content_for :title, "Fichas" %>

<% content_for :page_header do %>
  <li class="nav-item">
    <%= link_to epidemic_sheets_path, class: "nav-link #{ active_action('dashboard') }" do %>
      <%= fa_icon "file-medical-alt" %>
      Fichas epidemiológicas
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to epidemic_sheets_path, class: "nav-link #{ active_action('index') }" do %>
      <%= fa_icon "list" %>
      Listado
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to new_epidemic_sheet_path, class: "nav-link #{ active_action('new') }" do %>
      <%= fa_icon "plus" %>
      Cargar nueva
    <% end %>
  </li>
<% end %>