<div id="filterrific_results">
  <% if @epidemic_sheets.present? %>
    <div class="card">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :paciente) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :edad) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :caso) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :fis) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :notificacion) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :establecimiento_asignado) %></th>
            <th>Sisa</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="epidemic_sheets">
          <%= render @epidemic_sheets %>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center justify-content-between" style="height: 50px">
      <div>
        Total resultado: <span class="badge badge-secondary"><%= @epidemic_sheets.count %></span>
        <%= link_to epidemic_sheets_path(format: 'xlsx'), 
          class: "btn btn-success", target: :_blank,
          title: 'Descargar a excel', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "file-excel" %>
        <% end %>
      </div>
      <%= will_paginate @epidemic_sheets, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found_filter',
      locals: { object_name: 'fichas' }
    ) %>
  <% end %>
</div>
