
<tr class="nested-fields phones-form">
  <td>
    <% if f.object.number.present? %>
      <%= f.input :phone_type_fake, label: false, value: f.object.phone_type, readOnly: true %>
    <% end %>
    
      <%= f.input :phone_type, label: false, include_blank: false,
        collection: PatientPhone.phone_types,
        :value_method => :first,
        :input_html => {
          required: true,
          include_blank: false,
          class: "selectpicker custom-select-pick phone-type #{f.object.number.present? ? 'd-none' : ''}",
          "data-width"=>"100%",
          "data-size"=>"10",
          value: "#{ f.object.phone_type }"
        }
      %>
      <%# end %>
  </td>
  <td>
    <%= f.input :number, label: false, :input_html => { class: "input-sm phone-number"}, value: f.object.number, readOnly: f.object.number.present? %>
  </td>
  <td>
    <% if !f.object.number.present? %>
      <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning',
        title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "minus" %>
      <% end %>
    <% end %>
  </td>
</tr>
