<div class="card fixed-custom-card">
  <div class="card-body">
    <div class="dashboard-grid">
      <div class="card">
        <div class="card-header d-flex justify-content-between">

          <div>
            <span class="navbar-brand">
              <%= fa_icon "signature" %>
              Covid
            </span>
          </div>

          <ul class="nav nav-tabs card-header-tabs" id="title-chart">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#positives">Positivos
                <span class="badge badge-secondary"><%= @covid_profiles.positivo.count %></span> 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#cp-year">Estados
                <span class="badge badge-secondary"><%= @covid_profiles.count %></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#cp-last">
                Últimos casos
              </a>
            </li>
          </ul>

          <div class="d-flex align-items-center">
            <%= link_to covid_profiles_path, class: 'btn btn-secondary btn-sm' do %>
              Ver más
            <% end %>
          </div>
        </div>

        <div class="card-body pb-2 mb-3">
          <div class="tab-content">
            <div id="positives" class="tab-pane fade show active">
              <%= line_chart @covid_profiles.positivo
                .group_by_day(:init_symptom_date, range: 1.weeks.ago.midnight..Time.now, 
                format: "%a %d/%m").count,
                discrete: true,
                colors: ["rgb(170,58,58, 1)"],
                label: 'Cantidad',
                adapter: "highcharts" %>
            </div>
            <div id="cp-year" class="tab-pane fade">
              <%
                covid_profiles = @covid_profiles.group(:status).count.transform_keys { |key| key.humanize }
                status_colors = {"Sospechoso" => "#f7f7f7", "Pendiente" => "#f0ad4e", "Positivo" => "#d9534f", "Negativo" => "#4d4c7d", "Recuperado" => "#5cb85c", "Fallecido" => "#292b2c" }
                colors = []
                covid_profiles.each do |status, _|
                  colors << status_colors[status]
                end
              %>
              <%= pie_chart covid_profiles, colors: colors, label: 'Cantidad de lotes', adapter: "highcharts" %>
            </div>
            <div id="cp-last" class="tab-pane fade pb-0">
              <div class="card">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Paciente</th>
                      <th>Estado</th>
                      <th>Fecha síntomas</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @last_covid_profiles.each do |profile|%>
                      <tr>
                        <td><%= profile.patient.fullname %></td>
                        <td>
                          <span class="badge badge-<%= label_covid_profile_status(profile) %>">
                            <%= profile.status.humanize %>
                          </span>
                        </td>
                        <td>
                          <%= profile.init_symptom_date.strftime("%d/%m/%Y") %>
                        </td>
                        <td>    
                          <% if policy(profile).show? %>
                            <%= link_to covid_profile_path(profile), class: 'btn btn-secondary btn-sm', 
                              title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
                              <%= fa_icon 'eye' %>
                            <% end %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>