<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header bg-warning d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "edit" %>
      <h5 class="card-title mb-0 ml-2"> Editando ficha epidemiológica </h5>
    </div>
    <%= link_to :back, class:'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-8 border-right">
        <%= simple_form_for @epidemic_sheet, html: { role: 'check-modified' } do |f| %>
          <%= f.error_notification %>

          <h5 class="border-bottom">Definición de caso</h5>
          <%= f.simple_fields_for :case_definition do |case_d| %>
            <div class="d-flex justify-content-between">
              <%# CASO %>
              <div class="flex-fill">
                <%= case_d.input :case_type, label: 'Caso', include_blank: false,
                  collection: CaseDefinition.case_types.keys.map { |ct| [ct.humanize, ct] },
                  :value_method => :second,
                  :input_html => {
                    required: true,
                    include_blank: false,
                    class: 'selectpicker custom-select-pick case-select',
                    "data-width"=>"100%",
                    "data-size"=>"10",
                    value: "#{ case_d.object.case_type }"
                  }
                %>
              </div>
              <%# MÉTODO %>
              <div class="flex-fill <%= case_d.object.sospechoso? ? 'invisible' : 'visible' %> diagnostic-method">
                <%= case_d.input :diagnostic_method_id, label: 'Método',
                  collection: @diagnostic_methods.map {|method|  [method.name, method.id ]},
                  :input_html => {
                    required: true,
                    include_blank: false,
                    class: 'selectpicker custom-select-pick',
                    "data-width"=>"100%",
                    "data-size"=>"10",
                    "title"=>"Seleccionar método"
                  }
                %>
              </div>
            </div>
          <% end %> <!-- End case definition -->

     

          <h5 class="border-bottom">Información clínica</h5>
          <div class="d-flex justify-content-between">
            <div class="flex-fill p-1">
              <%= f.input :init_symptom_date, as: :string, label: "Fecha Inicio", html5: true, required: true,
                :input_html => {
                  required: true,
                  class: "form-control prescribed-date",
                  autocomplete: "off",
                  value: "#{f.object.new_record? ? DateTime.now.strftime("%d/%m/%Y") : f.object.init_symptom_date.strftime("%d/%m/%Y")}"
                }
              %>
            </div>
            <div class="flex-fill p-1">
              <%= f.input :epidemic_week, label: 'Semana epidemiológica', readonly: true %>
            </div>
            <div class="flex-fill p-1">
              <%= f.input :clinic_location, label: 'Situación', include_blank: false,
                collection: EpidemicSheet.clinic_locations.keys.map { |ct| [ct.humanize, ct] },
                :value_method => :second,
                :input_html => {
                  required: true,
                  include_blank: false,
                  class: 'selectpicker custom-select-pick',
                  "data-width"=>"100%",
                  "data-size"=>"10",
                  value: "#{ f.object.clinic_location }"
                }
              %>
            </div>
          </div>
          <h5 class="border-bottom">Signos y sintomas</h5>
          <div class="row">
            <div class="col-4">
              <div class="custom-control custom-switch">
                <%= f.check_box :presents_symptoms, class: "custom-control-input", id: "present-symptoms"   %>
                <label class="custom-control-label" for="present-symptoms">Presenta síntomas </label>
              </div>
            </div>
            <div class="col-4 fade <%= f.object.presents_symptoms.present? && f.object.presents_symptoms ? "show" : "" %> symptoms-fields">
              <%# symptoms %>
              <%= f.input :symptom_ids, label: 'Síntomas',
                collection: @symptoms,
                :input_html => {
                  multiple: true,
                  required: true,
                  include_blank: false,
                  class: 'selectpicker-md custom-select-pick show-tick',
                  "data-width"=>"100%",
                  "data-size"=>"10",
                  "title"=>"Seleccionar síntomas",
                  "data-live-search"=>true,
                  "data-none-results-text" => "No se encontró el síntoma"
                }
              %>
            </div>
            <div class="col-4 fade <%= f.object.presents_symptoms.present? && f.object.presents_symptoms ? "show" : "" %> symptoms-fields">
              <%= f.input :symptoms_observations, 
              label: 'Observaciones', 
              :input_html => {
                class: 'observations-field' 
              }
              %>
            </div>
          </div>

          <h5 class="border-bottom">Enfermedades previas</h5>
          <div class="row">
            <div class="col-4">
              <div class="custom-control custom-switch">
                <%= f.check_box :present_previous_symptoms, class: "custom-control-input", id: "present-prev-symp"   %>
                <label class="custom-control-label" for="present-prev-symp">Enfermedades previas </label>
              </div>
            </div>
            <div class="col-4 fade <%= f.object.present_previous_symptoms.present? && f.object.present_previous_symptoms ? "show" : "" %> symptoms-fields">
              <%# Sintomas previos %>
              <%= f.input :previous_symptom_ids, label: 'Síntomas Previos',
                collection: @previous_symptoms,
                :input_html => {
                  multiple: true,
                  required: true,
                  include_blank: false,
                  class: 'selectpicker-md custom-select-pick show-tick',
                  "data-width"=>"100%",
                  "data-size"=>"10",
                  "title"=>"Seleccionar síntomas previos",
                  "data-live-search"=>true,
                  "data-none-results-text" => "No se encontró el síntoma previo"
                }
              %>
            </div>
            <div class="col-4 fade <%= f.object.present_previous_symptoms.present? && f.object.present_previous_symptoms ? "show" : "" %> symptoms-fields">
              <%= f.input :prev_symptoms_observations, 
              label: 'Observaciones', 
              :input_html => {
                class: 'observations-field' 
              } %>
            </div>
          </div>
        <% end %>
      </div>
      
      <div class="col-4">
        <h5 class="border-bottom mb-0 ml-2">Paciente</h5>
        <div class="text-center mt-2">
          <%= image_tag patient_avatar(@epidemic_sheet.patient), class:"img-thumbnail" %>
        </div>

        <h5 class="mt-3"><strong><%= @epidemic_sheet.patient.last_name %>,</strong> <%= @epidemic_sheet.patient.first_name %></h5>

        <h5 class="mt-3">
          <%= @epidemic_sheet.patient.dni %>
          <span class="badge badge-<%= @epidemic_sheet.patient.Temporal? ? "warning" : "success" %>">
            <%= @epidemic_sheet.patient.status %>
          </span>
        </h5>

        <h5> <%= @epidemic_sheet.patient.email %> </h5>

        <% if @epidemic_sheet.patient.birthdate.present? %>
          <p class="mb-0 mt-3"><strong>Fecha de nacimiento</strong></p>
          <p><%= @epidemic_sheet.patient.birthdate.strftime("%d/%m/%Y")%> | <%= @epidemic_sheet.patient.age_string %></h5>
        <% end %>

        <p class="mb-0 mt-3"><strong>Sexo </strong></p>
        <p><%= @epidemic_sheet.patient.sex %></p>

        <% if @epidemic_sheet.patient.cuil.present? %>
          <p class="mb-0 mt-3"><strong>CUIL </strong></p>
          <p><%= @epidemic_sheet.patient.cuil %></p>
        <% end %>

        <% @epidemic_sheet.patient.patient_phones.each do |phone| %>
          <p class="mb-0 mt-3"><strong><%= phone.phone_type %></strong></p> 
          <p><%= phone.number %></p>
        <% end %>

      </div>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', epidemic_sheets_path, class: 'btn mr-2' %>
    <button type='submit' name='commit' class='btn btn-success' form="<%= @epidemic_sheet.new_record? ? 'new_epidemic_sheet' : 'edit_epidemic_sheet_' + @epidemic_sheet.id.to_s %>">
      <%= fa_icon 'save' %> Guardar
    </button>
  </div>
</div>
