<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
      <Alignment ss:Vertical="Bottom"/>
      <Borders/>
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s68">
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#FFFFFF"
        ss:Bold="1"/>
      <Interior ss:Color="#363062" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Fichas epidemiológicas">
    <Table>
      <Column ss:AutoFitWidth="0" ss:Width="30"/>
      <Column ss:AutoFitWidth="0" ss:Width="60"/>
      <Column ss:AutoFitWidth="0" ss:Width="180"/>   
      <Column ss:AutoFitWidth="0" ss:Width="30"/>
      <Column ss:AutoFitWidth="0" ss:Width="60"/>   
      <Column ss:AutoFitWidth="0" ss:Width="100"/>
      <Column ss:AutoFitWidth="0" ss:Width="60"/>   
      <Column ss:AutoFitWidth="0" ss:Width="95"/>
      <Column ss:AutoFitWidth="0" ss:Width="250"/>   
      <Column ss:AutoFitWidth="0" ss:Width="250"/>
      <Column ss:AutoFitWidth="0" ss:Width="60"/>   
      <Column ss:AutoFitWidth="0" ss:Width="87.9"/>
      <Column ss:AutoFitWidth="0" ss:Width="85"/>
      <Row>
        <Cell ss:StyleID="s68"><Data ss:Type="String">#</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">DNI</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Nombre completo</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Edad</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Caso</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Contactos estrechos</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Fecha (FIS)</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Fecha notificación</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Domicilio</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Domicilio relevado</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Síntomas</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Síntomas previos</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Situación clínica</Data></Cell>
      </Row>
      <% @epidemic_sheets.each_with_index do |sheet, index| %>
        <Row>
          <Cell><Data ss:Type="Number"><%= index + 1 %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sheet.patient_dni %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sheet.patient_last_name %>, <%= sheet.patient_first_name %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sheet.patient_age_string %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sheet.case_definition_case_status_name.humanize %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sheet.close_contacts_count %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sheet.init_symptom_date.present? ? sheet.init_symptom_date.strftime("%d/%m/%Y") : '---' %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sheet.notification_date.strftime("%d/%m/%Y") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sheet.patient_address_string %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sheet.patient_current_address_get_full_address_name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sheet.presents_symptoms? ? 'Si' : 'No' %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sheet.present_previous_symptoms? ? 'Si' : 'No' %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sheet.clinic_location.humanize %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Parámetros del filtro">
    <Table ss:ExpandedColumnCount="2" ss:ExpandedRowCount="2" x:FullColumns="1"
      x:FullRows="1" ss:DefaultColumnWidth="50.4" ss:DefaultRowHeight="14.4">
      <Column ss:AutoFitWidth="0" ss:Width="60"/>
      <Column ss:AutoFitWidth="0" ss:Width="60"/>
      <Column ss:AutoFitWidth="0" ss:Width="80"/>
      <Column ss:AutoFitWidth="0" ss:Width="60"/>
      <Column ss:AutoFitWidth="0" ss:Width="60"/>
      <Column ss:AutoFitWidth="0" ss:Width="60"/>
      <Column ss:AutoFitWidth="0" ss:Width="60"/>
      <Column ss:AutoFitWidth="0" ss:Width="60"/>
      <Row>
        <Cell ss:StyleID="s68"><Data ss:Type="String">DNI</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Paciente</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Contacto estrecho</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Caso</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Establecimiento</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Fecha desde (FIS)</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Fecha hasta (FIS)</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Fecha desde (Notificación)</Data></Cell>
        <Cell ss:StyleID="s68"><Data ss:Type="String">Fecha hasta (Notificación)</Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%= params[:filterrific].present? ? params[:filterrific][:search_dni] : '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= params[:filterrific].present? ? params[:filterrific][:search_fullname] : '' %> </Data></Cell>
        <Cell><Data ss:Type="String"><%= params[:filterrific].present? ? params[:filterrific][:by_close_contact] : '' %> </Data></Cell>
        <Cell><Data ss:Type="String"><%= params[:filterrific].present? && params[:filterrific][:by_case_statuses].present? ? params[:filterrific][:by_case_statuses].map{|id| CaseStatus.find(id).name}.join(', ') : '' %> </Data></Cell>
        <Cell><Data ss:Type="String"><%= params[:filterrific].present? && params[:filterrific][:by_establishment].present? ? params[:filterrific][:by_establishment].map{|id| Establishment.find(id).name}.join(', ') : '' %> </Data></Cell>
        <Cell><Data ss:Type="String"><%= params[:filterrific].present? ? params[:filterrific][:since_date_fis] : '' %> </Data></Cell>
        <Cell><Data ss:Type="String"><%= params[:filterrific].present? ? params[:filterrific][:to_date_fis] : '' %> </Data></Cell>
        <Cell><Data ss:Type="String"><%= params[:filterrific].present? ? params[:filterrific][:since_date] : '' %> </Data></Cell>
        <Cell><Data ss:Type="String"><%= params[:filterrific].present? ? params[:filterrific][:to_date] : '' %> </Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>