<%= render 'header' %>

<% if @epidemic_sheets.present? %>
  <div class="card fixed-custom-card">
    <div class="card-header">
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="row d-felx justify-content-left">
          <div class="col-md-1">
            <!-- Spinner para la carga -->
            <label>Reiniciar</label><br>
            <%= link_to epidemic_sheets_path(reset: true), class: 'btn btn-secondary position-absolute' do %>
              <%= fa_icon 'redo' %>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-3">
            <label>DNI</label>
            <%= f.text_field(
              :search_dni,
              class: 'filterrific-periodically-observed form-control input-sm'
                ) %>
          </div>
          <div class="col-md-3 col-sm-3">
            <label>Nombre o Apellido</label>
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.text_field(
              :search_fullname,
              class: 'filterrific-periodically-observed form-control input-sm',
              autocomplete: 'off'
            ) %>
          </div>
          <div class="col-md-2 col-sm-2">
            <label>Caso</label>
            <%= f.select :by_case_statuses, 
              options_for_select(CaseStatus.all.collect {|cs| [cs.name, cs.id]}),{include_blank: false, include_hidden: false},
              {
                class: "form-control selectpicker-md show-tick custom-select-pick", 
                multiple: true,
                "title"=>"Caso",
                "data-actions-box"=>true
              }
            %>
          </div>
          <div class="col-md-3 col-sm-2 ">
            <label>Establecimiento</label>
            <%= f.select :by_establishment, 
              options_for_select(
                Establishment.all.collect {|cs| [cs.name, cs.id]},
                selected: params[:filterrific].present? ? params[:filterrific][:by_establishment] : "",
              ),
              {include_blank: false, include_hidden: false},
              {
                class: "form-control selectpicker-md show-tick custom-select-pick",
                "title"=>"Seleccionar",
                multiple: true,
                "data-live-search"=>true
              }
            %>
          </div>
          <div class="col-md-2 mt-2">
            <label><%= fa_icon 'calendar' %> Desde (FIS)</label>
            <%= f.text_field(:since_date_fis, autocomplete: 'off',
              class: 'datetimepicker form-control since-date',
              placeholder: "Una fecha", data: { date_format: 'DD/MM/YYYY'}) %>
          </div>
          <div class="col-md-2 mt-2">
            <label><%= fa_icon 'calendar' %> Hasta (FIS)</label>
            <%= f.text_field(:to_date_fis, autocomplete: 'off',
              class: 'datetimepicker form-control to-date',
              placeholder: "Una fecha", data: { date_format: 'DD/MM/YYYY'}) %>
          </div>
          <div class="col-md-2 mt-2">
            <label><%= fa_icon 'calendar' %> Desde (Notificación)</label>
            <%= f.text_field(:since_date, autocomplete: 'off',
              class: 'datetimepicker form-control since-date',
              placeholder: "Una fecha", data: { date_format: 'DD/MM/YYYY'}) %>
          </div>
          <div class="col-md-2 mt-2">
            <label><%= fa_icon 'calendar' %> Hasta (Notificación)</label>
            <%= f.text_field(:to_date, autocomplete: 'off',
              class: 'datetimepicker form-control to-date',
              placeholder: "Una fecha", data: { date_format: 'DD/MM/YYYY'}) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-body fixed-panel-index">
      <%= render(
        partial: 'epidemic_sheets/list',
        locals: { epidemic_sheets: @epidemic_sheets }
      ) %>
    </div>
  </div>
<% else %>
<%= render(
  partial: 'shared/not_found',
  locals: { object_name: 'fichas' }
) %>
<% end %>