<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        <%= "Viendo ficha epidemiológica" %>
        <%= @epidemic_sheet.is_in_sisa? ? '(SISA)' : '' %>
      </h5>
    </div>
    <%= link_to :back, class: 'btn btn-light' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-8 border-right">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="epidemic-sheet-tab" data-toggle="tab" href="#epidemic-sheet" role="tab" aria-controls="epidemic-sheet" aria-selected="true">
              <%= fa_icon "file-medical-alt" %>
              Ficha
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="movements" aria-selected="true">
              <div class="d-flex align-items-center">
                <span><%= fa_icon 'map-marker'%> Domicilio</span>
              </div>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="case-evolutions-tab" data-toggle="tab" href="#case-evolutions" role="tab" aria-controls="case-evolutions  " aria-selected="true">
              <div class="d-flex align-items-center">
                <span>Evolución del caso</span>
                <div class="ml-2 badge badge-primary">
                  <%= @epidemic_sheet.case_evolutions.count %>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="close-contacts-tab" data-toggle="tab" href="#close-contacts" role="tab" aria-controls="close-contacts" aria-selected="true">
              <div class="d-flex align-items-center">
                <span>Contactos estrechos</span>
                <div class="ml-2 badge badge-primary">
                  <%= @epidemic_sheet.close_contacts.count %>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="movements-tab" data-toggle="tab" href="#movements" role="tab" aria-controls="movements" aria-selected="true">
              <div class="d-flex align-items-center">
                <span>Movimientos</span>
                <div class="ml-2 badge badge-primary">
                  <%= @epidemic_sheet.movements.count %>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
          <%# Epidemic sheet %>
          <div class="tab-pane fade show active" id="epidemic-sheet" role="tabpanel" aria-labelledby="epidemic-sheet-tab">
            <h5 class="border-bottom">Definición de caso</h5>
            <div class="row">
              <div class="col-4">
                <h5>Caso</h5>
                <span class="badge badge-<%= @epidemic_sheet.case_definition_case_status_badge %>">
                  <%= @epidemic_sheet.case_definition_case_status_name.humanize %>
                </span>
              </div>
              <% if @epidemic_sheet.case_definition.needs_diagnostic? %>
                <div class="col-4">
                  <h5>Método</h5>
                  <%= @epidemic_sheet.case_definition.diagnostic_method.name %>
                </div>
              <% end %>
              <% if @epidemic_sheet.case_definition.needs_diagnostic? %>
                <div class="col-4">
                  <h5>Dispositivo especial</h5>
                  <%= @epidemic_sheet.case_definition.special_device.name %>
                </div>
              <% end %>
            </div>

            <h5 class="border-bottom pt-3">Paciente</h5>
            <div class="d-flex justify-content-between">
              <div class="flex-fill">
                <strong>DNI</strong> <%= @epidemic_sheet.patient_dni %>
                <strong><%= @epidemic_sheet.patient_last_name %></strong>,
                <%= @epidemic_sheet.patient_first_name %>
              </div>
            </div>

            <h5 class="border-bottom pt-3">Información clínica</h5>
            <div class="d-flex justify-content-between">
              <div class="flex-fill">
                <h5>Fecha inicio (FIS)</h5>
                <%= @epidemic_sheet.init_symptom_date.present? ? @epidemic_sheet.init_symptom_date.strftime("%d/%m/%Y") : '---' %>
              </div>
              <div class="flex-fill">
                <h5>Semana epidemiológica</h5>
                <span class="badge badge-pill badge-secondary"><%= @epidemic_sheet.init_symptom_date.present? ? @epidemic_sheet.epidemic_week : '---' %></span>
              </div>
              <div class="flex-fill">
                <h5>Situación</h5>
                <%= @epidemic_sheet.clinic_location.humanize %>
              </div>
            </div>

            <h5 class="border-bottom pt-3">Signos y síntomas</h5>
            <div class="row">
              <div class="col-5">
                <% if @epidemic_sheet.presents_symptoms? && @epidemic_sheet.symptoms.present? %>
                  <% @epidemic_sheet.symptoms.each do |symp| %>
                    <div class="ml-2 mb-1 mt-1">
                      <%= fa_icon "dot-circle", class: "far"%>
                      <span class="font-weight-bold"><%= symp.name%></span>
                    </div>
                  <% end %>
                <% else %>
                  No presenta
                <% end %>
              
              </div>
              <div class="col-7">
                <p><%= @epidemic_sheet.symptoms_observations %></p>
              </div>
            </div>

            <h5 class="border-bottom pt-3">Enfermedades previas</h5>
            <div class="row">
              <div class="col-5">
                <% if @epidemic_sheet.present_previous_symptoms? && @epidemic_sheet.previous_symptoms.present? %>
                  <% @epidemic_sheet.previous_symptoms.each do |prev_symp| %>
                    <div class="ml-2 mb-1 mt-1">
                      <%= fa_icon "dot-circle", class: "far"%>
                      <span class="font-weight-bold"><%= prev_symp.name%></span>
                    </div>
                  <% end %>
                <% else %>
                  No presenta
                <% end %>
              </div>
              <div class="col-7">
                <p><%= @epidemic_sheet.prev_symptoms_observations %></p>
              </div>
            </div>
          </div>
          <%# Case evolutions %>
          <div class="tab-pane fade" id="case-evolutions" role="tabpanel" aria-labelledby="case-evolutions-tab">
            <table class="table table-hover table-striped table-sm">
              <thead>
                <tr>
                  <th class="border-top-0">Fecha</th>
                  <th class="border-top-0">Estado</th>
                  <th class="border-top-0">Método</th>
                  <th class="border-top-0">Dispositivo</th>
                </tr>
              </thead>
              <tbody>
                <% @epidemic_sheet.case_evolutions.order(created_at: :desc).each do |evolution| %>
                  <tr>
                    <td><%= evolution.created_at.strftime("%d/%m/%Y") %></td>
                    <td>
                      <span class="badge badge-<%= evolution.case_status_badge %>">
                        <%= evolution.case_status_name %>
                      </span>
                    </td>
                    <td><%= evolution.case_status.needs_diagnostic? ? evolution.diagnostic_method.name : '-' %></td>
                    <td><%= evolution.case_status.needs_diagnostic? ? evolution.special_device.name : '-' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%# Close contacts %>
          <div class="tab-pane fade" id="close-contacts" role="tabpanel" aria-labelledby="close-contacts-tab">
            <h5 class="border-bottom"><strong>Contacto origen</strong></h5>
            <% if @epidemic_sheet.parent_contact.present? %>
              <div class="row d-flex justify-content-between align-items-center">
                <div class="p-1 pl-4">
                  <h5>Paciente</h5>
                  <strong><%= @epidemic_sheet.parent_contact.patient_dni %></strong>, 
                  <%= @epidemic_sheet.parent_contact.patient_fullname %>
                </div>
                <div class="p-1">
                  <h5>FIS</h5>
                  <%= @epidemic_sheet.parent_contact.init_symptom_date.strftime("%d/%m/%Y")%>
                </div>
                <div class="p-1">
                  <h5 class="border-top-0">Estado</h5>
                  <span class="badge badge-<%= @epidemic_sheet.parent_contact.case_definition_case_status_badge %>">
                    <%= @epidemic_sheet.parent_contact.case_definition_case_status_name %>
                  </span>
                </div>
                <div class="p-1 pr-4">
                  <%= link_to epidemic_sheet_path(@epidemic_sheet.parent_contact), target: :_blank, class: 'btn btn-secondary',
                    title: 'Abrir ficha epidemio', data: { toggle: 'tooltip', placement: 'top' } do %>
                    <%= fa_icon "external-link-alt" %>
                  <% end %>
                </div>
              </div>
            <% else %>
              El contacto origen por el cuál surgió este caso, aún no se ha determinado.
            <% end %>

            <h5 class="mt-4 border-bottom"><strong>Contactos estrechos</strong></h5>
            <% if @epidemic_sheet.close_contacts.count > 0 %>
              <table class="table table-hover table-striped table-sm">
                <thead>
                  <tr>
                    <th class="border-top-0">Paciente</th>
                    <th class="border-top-0">Teléfono</th>
                    <th class="border-top-0">Domicilio</th>
                    <th class="border-top-0">Fecha último contacto</th>
                    <th class="border-top-0">Tipo</th>
                    <th class="border-top-0">Estado</th>
                    <th class="border-top-0"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @epidemic_sheet.close_contacts.order(created_at: :desc).each do |contact| %>
                    <tr>
                      <td>
                        <strong><%= contact.dni %></strong>
                        <%= contact.full_name %>
                      </td>
                      <td><%= contact.phone %></td>
                      <td><%= contact.address %></td>
                      <td><%= contact.last_contact_date.present? ? contact.last_contact_date.strftime("%d/%m/%Y") : '---' %></td>
                      <td><%= contact.contact_type.present? ? contact.contact_type_name : '---' %></td>
                      <td>
                        <% if contact.contact.present? %>
                          <span class="badge badge-<%= contact.contact.epidemic_sheet.case_definition_case_status_badge %>">
                            <%= contact.contact.epidemic_sheet.case_definition_case_status_name %>
                          </span>
                        <% else %>
                          <%= link_to new_contact_epidemic_sheets_path(parent_contact_id: @epidemic_sheet.patient_id, close_contact_id: contact.id), class: "btn btn-sm btn-primary" do %>
                            <%= fa_icon "plus" %>
                            Agregar ficha
                          <% end %>
                        <% end %>                                          
                      </td>
                      <td>
                        <% if contact.contact.present? %>
                          <%= link_to patient_path(contact.contact), class: "btn btn-sm btn-secondary", title: "Ver paciente", data: { toggle: 'tooltip', placement: 'top' } do %>
                            <%= fa_icon "user-injured" %>
                          <% end %>
                          
                          <%= link_to epidemic_sheet_path(contact.contact.epidemic_sheet), class: "btn btn-sm btn-success", title: "Ver ficha", data: { toggle: 'tooltip', placement: 'top' } do %>
                            <%= fa_icon "file-medical-alt" %>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <p>No se relevaron contactos estrechos de este paciente.</p>
            <% end %>
          </div>
          <%# Movements %>
          <div class="tab-pane fade" id="movements" role="tabpanel" aria-labelledby="movements-tab">
            <table class="table table-hover table-striped table-sm">
              <thead>
                <tr>
                  <th class="border-top-0">Establecimiento</th>
                  <th class="border-top-0">Usuario</th>
                  <th class="border-top-0">Acción</th>
                  <th class="border-top-0">Fecha</th>
                </tr>
              </thead>
              <tbody>
                <% @epidemic_sheet.movements.order(created_at: :desc).each do |movement| %>
                  <tr>
                    <td><%= movement.sector.establishment.name %></td>
                    <td><%= movement.user.full_name %></td>
                    <td><%= movement.action %></td>
                    <td><%= movement.created_at.strftime("%d/%m/%Y") %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%# Address %>
          <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
            <div class="row">
              <% if @epidemic_sheet.patient.address.present? %>
                <div class="col-12"><h5 class="border-bottom">DATOS DEL DOMICILIO</h5></div>
                <div class="col-3">
                  <p><h5><strong>País</strong></h5><%= @epidemic_sheet.patient.address_country_name %></p>
                </div>
                <div class="col-3">
                  <p><h5><strong>Provincia</strong></h5><%= @epidemic_sheet.patient.address_state_name %></p>
                </div>
                <div class="col-3">
                  <p><h5><strong>Ciudad</strong></h5><%= @epidemic_sheet.patient.address_city_name %></p>
                </div>
                <div class="col-3">
                  <p><h5><strong>Dirección</strong></h5><%= @epidemic_sheet.patient.address_line %></p>
                </div>
              <% end %>
              <% if @epidemic_sheet.patient.current_address.present? %>
                <div class="col-12"><h5 class="border-bottom">DATOS DOMICILIO ACTUAL</h5></div>
                <div class="col-3">
                  <p><h5><strong>Barrio</strong></h5><%= @epidemic_sheet.patient.current_address.neighborhood %></p>
                </div>
                <div class="col-3">
                  <p><h5><strong>Calle</strong></h5><%= @epidemic_sheet.patient.current_address.street %></p>
                </div>
                <div class="col-3">
                  <p><h5><strong>Altura</strong></h5><%= @epidemic_sheet.patient.current_address.street_number %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <%= render "shared/patient_show", :patient => @epidemic_sheet.patient %>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', epidemic_sheets_path, class: 'btn mr-2 btn-light' %>
    <% if policy(@epidemic_sheet).edit? %>
      <%= link_to edit_epidemic_sheet_path(@epidemic_sheet), class: 'btn btn-warning mr-2' do %>
        <%= fa_icon 'pen' %>
        Editar
      <% end %>
    <% end %>

    <% if policy(@epidemic_sheet).set_in_sisa_modal? %>
      <%= link_to set_in_sisa_modal_epidemic_sheet_path(@epidemic_sheet), class: 'btn btn-success', remote: true do %>
        <%= fa_icon 'check' %>
        Marcar en SISA
      <% end %>
    <% end %>
  </div>
</div>