<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        <%= "Viendo ficha epidemiológica" %>
      </h5>
    </div>
    <%= link_to :back, class: 'btn btn-light' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-8 border-right">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="epidemic-sheet-tab" data-toggle="tab" href="#epidemic-sheet" role="tab" aria-controls="epidemic-sheet" aria-selected="true">Ficha</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="movements-tab" data-toggle="tab" href="#movements" role="tab" aria-controls="movements" aria-selected="true">
              <div class="d-flex align-items-center">
                <span>Movimientos</span>
                <div class="ml-2 badge badge-primary">
                  <%= @epidemic_sheet.movements.count %>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="close-contacts-tab" data-toggle="tab" href="#close-contacts" role="tab" aria-controls="close-contacts" aria-selected="true">
              <div class="d-flex align-items-center">
                <span>Contactos estrechos</span>
                <div class="ml-2 badge badge-primary">
                  <%= @epidemic_sheet.close_contacts.count %>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
          <div class="tab-pane fade" id="movements" role="tabpanel" aria-labelledby="movements-tab">
            <table class="table table-hover table-striped table-sm">
              <thead>
                <tr>
                  <th class="border-top-0">Establecimiento</th>
                  <th class="border-top-0">Usuario</th>
                  <th class="border-top-0">Acción</th>
                  <th class="border-top-0">Fecha</th>
                </tr>
              </thead>
              <tbody>
                <% @epidemic_sheet.movements.each do |movement| %>
                  <tr>
                    <td><%= movement.sector.establishment.name %></td>
                    <td><%= movement.user.full_name %></td>
                    <td><%= movement.action %></td>
                    <td><%= movement.created_at.strftime("%d/%m/%Y") %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="close-contacts" role="tabpanel" aria-labelledby="close-contacts-tab">
            <table class="table table-hover table-striped table-sm">
              <thead>
                <tr>
                  <th class="border-top-0">Paciente</th>
                  <th class="border-top-0">Teléfono</th>
                  <th class="border-top-0">Domicilio</th>
                  <th class="border-top-0">Fecha último contacto</th>
                </tr>
              </thead>
              <tbody>
                <% @epidemic_sheet.close_contacts.each do |contact| %>
                  <tr>
                    <td>
                      <strong><%= contact.dni %></strong>
                      <%= contact.full_name %>
                    </td>
                    <td><%= contact.phone %></td>
                    <td><%= contact.address %></td>
                    <td><%= contact.last_contact_date.strftime("%d/%m/%Y") %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        
          <div class="tab-pane fade show active" id="epidemic-sheet" role="tabpanel" aria-labelledby="epidemic-sheet-tab">
            <h5 class="border-bottom">Definición de caso</h5>
            <div class="d-flex justify-content-between">
              <div class="flex-fill">
                <h5>Caso</h5>
                <span class="badge badge-<%= @epidemic_sheet.case_definition.sospechoso? ? 'warning' : 'danger' %>">
                  <%= @epidemic_sheet.case_definition.case_type.humanize %>
                </span>
              </div>
              <% unless @epidemic_sheet.case_definition.sospechoso? %>
                <div class="flex-fill">
                  <h5>Método</h5>
                  <%= @epidemic_sheet.case_definition.diagnostic_method.name %>
                </div>
              <% end %>
            </div>

            <h5 class="border-bottom pt-3">Paciente</h5>
            <div class="d-flex justify-content-between">
              <div class="flex-fill">
                <strong>DNI</strong> <%= @epidemic_sheet.patient_dni %>
                <strong><%= @epidemic_sheet.patient_last_name %></strong>,
                <%= @epidemic_sheet.patient_first_name %>
              </div>
            </div>

            <h5 class="border-bottom pt-3">Información clínica</h5>
            <div class="d-flex justify-content-between">
              <div class="flex-fill">
                <h5>Fecha inicio</h5>
                <%= @epidemic_sheet.init_symptom_date.strftime("%d/%m/%Y") %>
              </div>
              <div class="flex-fill">
                <h5>Semana epidemiológica</h5>
                <span class="badge badge-pill badge-secondary"><%= @epidemic_sheet.epidemic_week %></span>
              </div>
              <div class="flex-fill">
                <h5>Situación</h5>
                <%= @epidemic_sheet.clinic_location.humanize %>
              </div>
            </div>

            <h5 class="border-bottom pt-3">Signos y síntomas</h5>
            <div class="row">
              <div class="col-5">
                <% if @epidemic_sheet.presents_symptoms? && @epidemic_sheet.symptoms.present? %>
                  <% @epidemic_sheet.symptoms.each do |symp| %>
                    <div class="ml-2 mb-1 mt-1">
                      <%= fa_icon "dot-circle", class: "far"%>
                      <span class="font-weight-bold"><%= symp.name%></span>
                    </div>
                  <% end %>
                <% else %>
                  No presenta
                <% end %>
              
              </div>
              <div class="col-7">
                <p><%= @epidemic_sheet.symptoms_observations %></p>
              </div>
            </div>

            <h5 class="border-bottom pt-3">Enfermedades previas</h5>
            <div class="row">
              <div class="col-5">
                <% if @epidemic_sheet.present_previous_symptoms? && @epidemic_sheet.previous_symptoms.present? %>
                  <% @epidemic_sheet.previous_symptoms.each do |prev_symp| %>
                    <div class="ml-2 mb-1 mt-1">
                      <%= fa_icon "dot-circle", class: "far"%>
                      <span class="font-weight-bold"><%= prev_symp.name%></span>
                    </div>
                  <% end %>
                <% else %>
                  No presenta
                <% end %>
              </div>
              <div class="col-7">
                <p><%= @epidemic_sheet.prev_symptoms_observations %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <%= render "shared/patient_show", :patient => @epidemic_sheet.patient %>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', epidemic_sheets_path, class: 'btn mr-2 btn-light' %>
    <%= link_to edit_epidemic_sheet_path(@epidemic_sheet), class: 'btn btn-warning' do %>
      <%= fa_icon 'pen' %>
      Editar
    <% end %>
  </div>
</div>