<%= render 'header' %>

<div class="card fixed-custom-card">

  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo paciente
      </h5>
    </div>
    <%= link_to patients_path, class: 'btn' do %>
      <%= fa_icon 'times' %>
    <% end %>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <ul class='nav nav-tabs'>
          <li class='nav-item'>
            <a class="nav-link active" data-toggle='tab' href='#profile'>
              <%= fa_icon "user-injured" %>
              Información
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <!-- Perfil -->
          <div id='profile' class='tab-pane container active'>
            <div class="row">
              <div class="col-12 pt-3"><h5 class="border-bottom">DATOS BÁSICOS</h5></div>
              <div class="col-4">
                <h5><strong>DNI</strong></h5>
                <%= @patient.dni %>
              </div>
              <div class="col-4">
                <h5><strong>Sexo</strong></h5>
                <%= @patient.sex %>
              </div>
              <div class="col-4">
                <h5><strong>Fecha nacimiento</strong></h5>
                <%= @patient.birthdate.present? ? @patient.birthdate.strftime("%d/%m/%Y") : "----" %>
              </div>
              <div class="col-4">
                <h5><strong>Apellido</strong></h5>
                <%= @patient.last_name %>
              </div>
              <div class="col-4">
                <h5><strong>Nombre</strong></h5>
                <%= @patient.first_name %>
              </div>
              <div class="col-4">
                <h5><strong>Estado civil</strong></h5>
                <%= @patient.marital_status %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-12"><h5 class="border-bottom">DATOS DE CONTACTO</h5></div>
              <div class="col-5">
                <h5><strong><span class="glyphicon glyphicon-earphone"></span> Teléfonos</strong></h5>
                <% @patient.patient_phones.each do |phone| %>
                  <p><strong><%= phone.phone_type %>:</strong> <%= phone.number %></p>
                <% end %>
              </div>
              <div class="col-4">
                <h5><strong><span class="glyphicon glyphicon-envelope"></span> Email</strong></h5>
                <%= @patient.email.present? ? @patient.email : "----" %>
              </div>
            </div>
            <br>
            <div class="row">
              <% if @patient.address.present? %>
                <div class="col-12"><h5 class="border-bottom">DATOS DEL DOMICILIO</h5></div>
                <div class="col-3">
                  <p><h5><strong>País</strong></h5><%= @patient.address_country_name %></p>
                </div>
                <div class="col-3">
                  <p><h5><strong>Provincia</strong></h5><%= @patient.address_state_name %></p>
                </div>
                <div class="col-3">
                  <p><h5><strong>Ciudad</strong></h5><%= @patient.address_city_name %></p>
                </div>
                <div class="col-3">
                  <p><h5><strong>Dirección</strong></h5><%= @patient.address_line %></p>
                </div>
              <% end %>
              <% if @patient.current_address.present? %>
                <div class="col-12"><h5 class="border-bottom">DATOS DOMICILIO ACTUAL</h5></div>
                <div class="col-3">
                  <p><h5><strong>Barrio</strong></h5><%= @patient.current_address.neighborhood %></p>
                </div>
                <div class="col-3">
                  <p><h5><strong>Calle</strong></h5><%= @patient.current_address.street %></p>
                </div>
                <div class="col-3">
                  <p><h5><strong>Altura</strong></h5><%= @patient.current_address.street_number %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 border-left">
        <%= render "shared/patient_show", :patient => @patient %>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', patients_path, class: "btn mr-2" %>
    <% if policy(@patient).edit? %>
      <%= link_to edit_patient_path(@patient), :"data-turbolinks" => false, class: "btn btn-warning mr-2" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
    <% if policy(@patient).validate? %>
      <%= link_to validate_patient_path(@patient), method: :patch, class: "btn btn-success",
      'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Validando".html_safe do %>
        <%= fa_icon "check" %>
        Validar
      <% end %>
    <% end %>
  </div>
</div>
