<div class="row">
  <div class="col-7 ml-auto mr-0">
    <div class="card fixed-custom-card">
      <div class="card-header d-flex justify-content-between p-2">
        <h5 class="card-title mb-0"><%= fa_icon "bullhorn" %> Novedades</h5>
        <p class="mb-0">Mesa de ayuda de lun a vie 8 a 16 hs:  <a href="https://wa.me/+54 9 2944 12-7915" target="_blank"><i class="fab fa-whatsapp"></i> +54 9 2944 12-7915</a></p>
      </div>
      <div class="card-body">
        <p class="border-bottom">Actualización 25/12/2020</p>
        <p>Asociar contacto estrecho a ficha existente.</p>
        <p class="border-bottom">Actualización 24/12/2020</p>
        <p>Nueva selección de contacto padre en pestaña de contactos estrechos.</p>
        <p class="border-bottom">Actualización 22/12/2020</p>
        <p>Solucionado error en carga de ficha.</p>
        <p class="border-bottom">Actualización 21/12/2020</p>
        <p>Agregado atributo de SISA. Corrección de bugs.</p>
        <p class="border-bottom">Actualización 04/12/2020</p>
        <p>Botón de carga de ficha en contactos estrechos.</p>
        <p class="border-bottom">Actualización 05/12/2020</p>
        <p>Filtros en fichas epidemiológicas.</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <p class="text-center pb-4"><%= image_tag("covid-sma-logo.png", size: "180x180", align: "center", alt: "Logo Sifaho") %></p>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%- if devise_mapping.registerable? %>
              <%= link_to 'Registrarse', new_registration_path(resource_name), class: 'right'  %>
            <% end -%>
            <%= f.label :username, "Usuario provincial OneLogin" %>
            <%= f.number_field :username, :autofocus => true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%- if devise_mapping.recoverable? %>
              <%= link_to "Olvidaste tu contraseña?", new_password_path(resource_name), class: 'right' %>
            <% end -%>
            <%= f.label :password, 'Contraseña' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
            <%= button_tag(type: 'submit', class: "btn btn-success btn-md btn-block", 'data-disable-with' => "Iniciando <i class='fa fa-circle-notch fa-spin'></i>".html_safe) do %>
              Iniciar sesión
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>