<div class="row">
  <div class="col-7 ml-auto mr-0">
    <div class="card fixed-custom-card">
      <div class="card-header d-flex justify-content-between p-2">
        <h5 class="card-title mb-0"><%= fa_icon "bullhorn" %> Novedades</h5>
        <p class="mb-0">Mesa de ayuda de lun a vie 8 a 16 hs:  <a href="https://wa.me/+54 9 2944 12-7915" target="_blank"><i class="fab fa-whatsapp"></i> +54 9 2944 12-7915</a></p>
      </div>
      <div class="card-body">
        <p class="border-bottom">Actualización 24/02/2021</p>
        <p>Se removió el alta automática para FIS mayor a 14 días.</p>
        <p class="border-bottom">Actualización 16/02/2021</p>
        <p>Selector de método de ordenamiento en listado de fichas.</p>
        <p class="border-bottom">Actualización 31/01/2021</p>
        <p>Exportación excel: mejora de estilo y dato de teléfono en fichas epidemiológicas.</p>
        <p class="border-bottom">Actualización 27/01/2021</p>
        <p>
          <li>Se agregó botón para remover contactos estrechos en la edición de la ficha.</li>
          <li>Nueva validación de FIS y Síntomas.</li>
          <li>Contemplación de contactos estrechos de pacientes sospechosos en contador del tablero.</li>
        </p>
        <p class="border-bottom">Actualización 22/01/2021</p>
        <p>
          <li>Nueva exportación xlsx compatible con Google Calc.</li>
          <li>Se agregó hoja de contactos estrechos en exportación.</li>
          <li>Nueva sección "Zonas Sanitarias".</li>
          <li>Nuevo filtro por SISA.</li>
        </p>
        <p class="border-bottom">Actualización 20/01/2021</p>
        <p>
          <li>Implementación de la aplicación en Junín de los Andes y Villa La Angostura.</li>
          <li>Recuperar solo pacientes ambulatorios automáticamente pasados los 14 días de FIS.</li>
          <li>Mejora en listado de establecimientos.</li>
          <li>Establecimientos designados únicamente para la ciudad del usuario.</li>
        </p>
        <p class="border-bottom">Actualización 18/01/2021</p>
        <p>
          <li>Solucionado filtro por nombre de paciente y establecimiento combinados.</li>
          <li>Validación de FIS para una selección correcta.</li>
        </p>
        <p class="border-bottom">Actualización 15/01/2021</p>
        <p>Filtro por situación clínica en listado de fichas.</p>
        <p class="border-bottom">Actualización 14/01/2021</p>
        <p>Botón para descarga de fichas a excel en el listado de fichas epidemiológicas.</p>
        <p class="border-bottom">Actualización 13/01/2021</p>
        <p>Nuevos contadores en tablero principal.</p>
        <p class="border-bottom">Actualización 12/01/2021</p>
        <p>
          <li>Búsqueda por contacto estrecho en fichas.</li>
          <li>Ordenamiento en listado de fichas.</li>
          <li>Se agregó tarea cronológica para recuperar automáticamente los casos que superaron los 21 días pasados de la fecha de inicio de síntomas (FIS).</li>
        </p>
        <p class="border-bottom">Actualización 08/01/2021</p>
        <p>
          <li>Se agregó un botón "Validar" en la vista del paciente para corroborar la información con Andes.</li>
          <li>Solucionado: selección de establecimiento designado.</li>
        </p>
        <p class="border-bottom">Actualización 07/01/2021</p>
        <p>Visualización de perfiles de usuarios.</p>
        <p class="border-bottom">Actualización 06/01/2021</p>
        <p>Selección de fichas en contactos estrechos desde formulario de fichas.</p>
        <p class="border-bottom">Actualización 05/01/2021</p>
        <p>
          <li>Se agregó FIS en el filtro de las fichas.</li>
          <li>Corrección de gráfico "Evolución de casos activos".</li>
          <li>FIS opcional en corte transversal.</li>
        </p>
        <p class="border-bottom">Actualización 25/12/2020</p>
        <p>Asociar contacto estrecho a ficha existente.</p>
        <p class="border-bottom">Actualización 24/12/2020</p>
        <p>Nueva selección de contacto padre en pestaña de contactos estrechos.</p>
        <p class="border-bottom">Actualización 22/12/2020</p>
        <p>Solucionado error en carga de ficha.</p>
        <p class="border-bottom">Actualización 21/12/2020</p>
        <p>Agregado atributo de SISA. Corrección de bugs.</p>
        <p class="border-bottom">Actualización 04/12/2020</p>
        <p>Botón de carga de ficha en contactos estrechos.</p>
        <p class="border-bottom">Actualización 05/12/2020</p>
        <p>Filtros en fichas epidemiológicas.</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <p class="text-center pb-4"><%= image_tag("covid-sma-logo.png", size: "180x180", align: "center", alt: "Logo Sifaho") %></p>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%- if devise_mapping.registerable? %>
              <%= link_to 'Registrarse', new_registration_path(resource_name), class: 'right'  %>
            <% end -%>
            <%= f.label :username, "Usuario provincial OneLogin" %>
            <%= f.number_field :username, :autofocus => true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%- if devise_mapping.recoverable? %>
              <%= link_to "Olvidaste tu contraseña?", new_password_path(resource_name), class: 'right' %>
            <% end -%>
            <%= f.label :password, 'Contraseña' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
            <%= button_tag(type: 'submit', class: "btn btn-success btn-md btn-block", 'data-disable-with' => "Iniciando <i class='fa fa-circle-notch fa-spin'></i>".html_safe) do %>
              Iniciar sesión
            <% end %>
        <% end %>
      </div>
    </div>
    <!-- <div class="card mt-4">
      <div class="card-body border-warning">
        <h4 class="text-warning"><%= fa_icon "exclamation-triangle" %> ¡Atención!</h4>
         <p>Actualmente se encuentra caída la red provincial. Esto significa que si es su primera vez en ingresar al sistema, no habrá forma de validar el usuario. Disculpe las molestias.</p> 
      </div>
    </div> -->
  </div>
</div>