<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo zona sanitaria <%= @sanitary_zone.name %>
      </h5>
    </div>
    <%= link_to sanitary_zones_path, class: 'btn' do %>
      <%= fa_icon 'times' %>
    <% end %>
  </div>


  <div class="card-body">
    <h4>Ciudades</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Ciudad</th>
          <th scope="col">Establecimiento</th>
          <th scope="col">Positivos</th>
          <th scope="col">Positivos</th>
          <th scope="col">Positivos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="card-footer d-flex justify-content-end">
    <%= link_to :back, class: "btn btn-light mr-2" do %>
      Volver
    <% end %>
    <% if policy(@sanitary_zone).edit? %>
      <%= link_to edit_sanitary_zone_path(@sanitary_zone), :"data-turbolinks" => false, class: "btn btn-warning" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
  </div>
</div>
