
<div id="sidebar-wrapper">

  <div class="link-group">
    <%= link_to main_app.profile_path(current_user.profile), class: "list-group-item list-group-item-action list-custom profile-link #{active_class('profiles')}" do %>
      <span class="img-container">
        <%= image_tag user_avatar(current_user, 35), class:"rounded-circle img-profile-nav" %>
      </span>
      <span class="ml-2 sb-title">
        <%= current_user.full_name.titleize %>
      </span>

    <% end %>

    <%= link_to main_app.root_path, class: "list-group-item list-group-item-action list-custom #{active_class('welcome')}" do %>
      <span class="sb-icon">
        <%= fa_icon "home" %>
      </span>
      <span class="ml-2 sb-title">Inicio</span>
    <% end %>

    <% if policy(User).index? %>
      <%= link_to main_app.users_admin_index_path, class: "list-group-item list-group-item-action list-custom #{active_class('users')}" do %>
        <span class="sb-icon">
          <%= fa_icon "virus" %>
        </span>
        <span class="ml-2 sb-title">Covid</span>
      <% end %>
    <% end %>

    <% if policy(Sector).index? %>
      <%= link_to main_app.sectors_path, class: "list-group-item list-group-item-action list-custom #{active_class('sectors')} #{active_class('internal_orders')} #{active_class('internal_order_templates')}" do %>
        <span class="sb-icon">
          <%= fa_icon "bezier-curve" %>
        </span>
        <span class="ml-2 sb-title">Sectores</span>
      <% end %>
    <% end %>

    <% if policy(Establishment).index? %>
      <%= link_to main_app.establishments_path, class: "list-group-item list-group-item-action list-custom #{active_class('establishments')} #{active_class('external_orders')} #{active_class('external_order_templates')}" do %>
        <span class="sb-icon">
          <%= fa_icon "hospital"%>
        </span>
        <span class="ml-2 sb-title">Establecimientos</span>
      <% end %>
    <% end %>

    <% if policy(Professional).index? %>
      <%= link_to main_app.professionals_path, class: "list-group-item list-group-item-action list-custom #{active_class('professionals')}" do %>
        <span class="sb-icon">
          <%= fa_icon "user-md" %>
        </span>
        <span class="ml-2 sb-title">Médicos</span>
      <% end %>
    <% end %>

    <% if policy(Patient).index? %>
      <%= link_to main_app.patients_path, class: "list-group-item list-group-item-action list-custom #{active_class('patients')}" do %>
        <span class="sb-icon">
          <%= fa_icon "user-injured" %>
        </span>
        <span class="ml-2 sb-title">Pacientes</span>
      <% end %>
    <% end %>

    <% if policy(User).index? %>
      <%= link_to main_app.users_admin_index_path, class: "list-group-item list-group-item-action list-custom #{active_class('users')}" do %>
        <span class="sb-icon">
          <%= fa_icon "users" %>
        </span>
        <span class="ml-2 sb-title">Usuarios</span>
      <% end %>
    <% end %>
  </div>
</div>
